<div class="flex-center dashboard-content">
    <section>
        <img class="dashboard-image" src="'../../assets/images/dashboard.svg"/>
    </section>
    
    <section class="dashboard-text-section">
        <div>
            <h1>Find my job</h1>
            <h3>The friend you did not think you need.</h3>
            <h5>When you get tired of trying to find your dream job we come here to help!</h5>
        </div>
        <button class="button" (click)="goToJobs()">Find my dream job</button>
    </section>
</div>
